# Virtual environment
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test coverage
.coverage
*.cover
.hypothesis/
.pytest_cache/

# VS Code settings
.vscode/